<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceConfiguration" type="Hydrous.Hosting.HydrousConfiguration, Hydrous.Hosting" />
  </configSections>

  <ServiceConfiguration Bootstrapper="SimpleClock.TimeBroadcasterBootstrapper, SimpleClock" />
</configuration>